/* Estilos para o formulário de cadastro */

/* Definido estilo para o container do formulário */
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #333;
}

/* Estilizando o título do formulário */
h1 {
    text-align: center;
    margin-top: 0; /* Removido o espaçamento superior */
    margin-bottom: 20px;
}

/* Definindo estilo para os campos do formulário */
.form-control {
    margin-bottom: 20px;
}

/* Estilizando os labels */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

/* Estilizando os campos de input */
.input-field {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

/* Estilizando a mensagem de erro */
.error-message {
    color: red;
    font-size: 14px;
}

/* Estilizando o botão de submit */
.submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #45a049; /* Alterando cor de fundo ao passar o mouse */
}

/* Estilizando o botão de Dark Mode */
.dark-mode-button {
    position: fixed;
    bottom: 40px;
    right: 20px;
    z-index: 9999;
    padding: 10px;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

/* Estilos para o Dark Mode */

/* Alterando fundo do body */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

/* Alterando estilo do container no modo dark */
.dark-mode .container {
    background-color: #555;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    color: #fff;
}

/* Alterando cor dos labels no modo dark */
.dark-mode label {
    color: #ccc;
}




    